* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  margin: 0% 10%;
}

.header {
  /* margin: 1% 10%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  font-size: small;
  font-weight: bold;
  padding-left: 40px;
  padding-right: 60px;
}

.logo {
  width: 100px;
  padding: 5px;
  cursor: pointer;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.search {
  padding: 20px;
  margin: 20px 0px;
  background-color: red;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* margin: 1% 10%; */
}

.restaurant-card {
  background-color: #f0f0f0;
  padding: 5px;
  width: 250px;
  height: 350px;
  margin: 50px 50px;
  border: 0px solid rgba(0, 0, 0, 0.1);
}

.restaurant-logo {
  width: 100%;
  height: 50%;
  padding: 2px;
  border-radius: 10px;
  object-fit: cover;
}

.card-details {
  padding: 5px;
}

.restaurant-card:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.filter-button {
  padding: 10px;
  border: none;
  background-color: #0ea5e9;
  font-size: 20px;
}

.filter-button:hover {
  cursor: pointer;
}

.filter-button:active {
  scale: 0.95;
}

.login-button {
  padding: 0px 20px;
  border: none;
  border-radius: 10px;
}

.login-button:hover {
  cursor: pointer;
}

.login-button:active {
  scale: 0.95;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-button {
  width: 200px;
  height: 30px;
  padding: 2px 2px;
  font-size: 20px;
  margin-right: 10px;
}

.search-button {
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
