.increase {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.decrease {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.btn {
  height: 20px;
  font-size: 20px;
}
