* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: 30px 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
}

.logo {
  width: 130px;
  cursor: pointer;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  cursor: pointer;

}
